.input_container {
  width: 100%;

  form {
    display: flex;

    input {
      flex: 0 0 85%;
      padding: 0.8rem 0.5rem;
      font-size: 1.1em;
    }
    button {
      flex: 0 0 12.5%;
      border: none;
      background: rgb(93, 17, 155);
      color: white;
    }
  }
}
